.sector-wrapper {
padding: 5vh 12vw;
background: #ffffff;
}
.sector-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.sector-heading h2 {
 color: #001233;
font-family: Figtree;
font-size: 3vw;
font-style: normal;
font-weight: 700;
line-height: 5px;
  white-space: nowrap;
}

.arrow-line {
  display: flex;
  align-items: center;
  gap: 0px;
}

.arrow {
  font-size: 30px;
  color: #FFD700;
  margin-top: -5px;
}

.sector-cards {
  display: flex;
  justify-content: center;
  gap: 4vw;
  flex-wrap: wrap;
}

.sector-card {
  position: relative;
  width: 22vw;
  height: 55vh;
  border-radius: 14px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.sector-card:hover {
  transform: translateY(-10px);
}

.sector-card::before {
  content: "";
  position: absolute;
  inset: 0;
}

.sector-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2vh 0vw;
border-radius: 16px;
background: rgba(255, 255, 255, 0.10);
  text-align: center;
  color: white;
}

.sector-overlay h3 {
 color: #FFF;
text-align: center;
font-family: Figtree;
font-size: 1.5vw;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 104.167% */
  margin-bottom: 6px;
}

.yellow-underline {
  width: 100px;
  height: 4px;
background: #FFD700;
  margin: 0 auto 14px;
  border-radius: 10px;
}

.sector-overlay p {
 color: #FFF;
text-align: center;
font-family: Figtree;
font-size: 1.1vw;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 113.636% */
}
@media screen and (min-width: 320px) and (max-width: 480px) {

  .sector-wrapper {
    padding: 5px 10px;
  }

  /* HEADING */

  .sector-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
  }

  .sector-heading h2 {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    white-space: normal;
  }

  /* LEFT SVG */

  .sector-heading .line svg {
    width: 60px;
    height: auto;
  }

  /* RIGHT ARROW SVG */

  .arrow-line .line svg {
    width: 80px;
    height: auto;
  }

  /* CARDS */

  .sector-cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sector-card {
    width: 98%;
    height: 250px;
    border-radius: 16px;
  }

  .sector-card:hover {
    transform: translateY(-4px);
  }

  /* OVERLAY */

  .sector-overlay {
    padding: 5px 1px;
  }

  .sector-overlay h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  .yellow-underline {
    width: 40%;
    margin-bottom: 0px;
  }

  .sector-overlay p {
    font-size: 14px;
    line-height: 10px;
  }
}