

.solar-container {
  position: relative;
  overflow: hidden;
  margin-top: 8vh;
}

.solar-overlay {
  position: absolute;
  inset: 0;
}

.solar-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vh 11vw ;
}

/* LEFT SECTION */

.left-section {
  max-width: 650px;
}

.top-btn {
  padding: 10px 22px;
  border-radius: 16px;
  border: none;
background: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.2);
 color: #FFF;
font-family: Figtree;
font-size: 1.2vw;
font-style: normal;
font-weight: 600;
line-height: 8px; /* 273.333% */
  margin-bottom: 0px;
}

.left-section h1 {
 color: #FFF;
font-family: Figtree;
font-size: 4vw;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 113.889% */
letter-spacing: -2.56px;
  margin-bottom: 30px;
}

.left-section p {
color: #FFF;
font-family: Figtree;
font-size: 1.4vw;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 125% */
  max-width: 600px;
}

/* TRUSTED CARD */

.trusted-card {
  width: 250px;
  padding: 2vh 1vw;
 border-radius: 16px;
background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;
}

.trusted-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #385AFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.trusted-card h2 {
 color: #FFF;
text-align: center;
font-family: Figtree;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 10px; /* 256.25% */
  margin-bottom: 0px;
}

.trusted-card h3 {
 color: #4867FF;
text-align: center;
font-family: Figtree;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 12px; /* 256.25% */
  margin-bottom: 2px;
}

.trusted-card p {
 color: #FFF;
text-align: center;
font-family: Figtree;
font-size: 1.2vw;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 125% */
}

/* FEATURE BOX */

.solar-feature-box {
  position: relative;
  z-index: 2;
  width: 74%;
  margin: 40px auto 70px;
  padding: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
 border-radius: 16px;
background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.solar-feature-item {
  display: flex;
  align-items: center;
  gap: 18px;
  color: white;
  flex: 1;
}

.solar-feature-item h4 {
 color: #FFF;
font-family: Figtree;
font-size: 1.2vw;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 125% */
  margin-bottom: 5px;
}

.solar-feature-item p {
 color: #FFF;
font-family: Figtree;
font-size: 1.1vw;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.divider {
  width: 1px;
  height: 70px;
  background: rgba(255, 255, 255, 0.25);
}
