.blog-hero-section {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  margin-top: 8vh;
}

/* BACKGROUND IMAGE */

.blog-hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* DARK OVERLAY */

.blog-hero-overlay {
  position: absolute;
  inset: 0;

  z-index: 1;
}

/* CONTENT */

.blog-hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12%;
}

.blog-hero-content h1 {
  color: #fff;
  font-family: "Figtree";
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;

  margin-bottom: 0;
}

.blog-hero-content p {
  color: #fff;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  max-width: 33vw;
  font-family: "Figtree";
}

/* ========================= */
/* RESPONSIVE - MOBILE */
/* 320px to 480px */
/* ========================= */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .blog-hero-section {
    height: 55vh;
    margin-top: 9vh;
  }

  .blog-hero-bg {
    object-position: center;
    margin-top: 5h;
  }

  .blog-hero-content {
    padding-left: 6%;
    padding-right: 6%;
    justify-content: center;
    align-items: flex-start;
  }

  .blog-hero-content h1 {
    font-size: 9vw;
    line-height: 1.15;
    margin-bottom: 2vh;
  }

  .blog-hero-content p {
    font-size: 3.8vw;
    line-height: 1.6;
    max-width: 90%;
  }
}

/* ========================= */
/* RESPONSIVE - TABLET SMALL */
/* 481px to 767px */
/* ========================= */

@media screen and (min-width: 481px) and (max-width: 767px) {
  .blog-hero-section {
    height: 60vh;
    margin-top: 10vh;
  }

  .blog-hero-bg {
    object-position: center;
  }

  .blog-hero-content {
    padding-left: 8%;
    padding-right: 8%;
    justify-content: center;
    align-items: flex-start;
  }

  .blog-hero-content h1 {
    font-size: 6.5vw;
    line-height: 1.15;
    margin-bottom: 2vh;
  }

  .blog-hero-content p {
    font-size: 2.5vw;
    line-height: 1.6;
    max-width: 75%;
  }
}

/* ========================= */
/* RESPONSIVE - TABLET */
/* 768px to 1024px */
/* ========================= */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog-hero-section {
    height: 65vh;
    margin-top: 10vh;
  }

  .blog-hero-bg {
    object-position: center;
  }

  .blog-hero-content {
    padding-left: 9%;
    padding-right: 5%;
    justify-content: center;
  }

  .blog-hero-content h1 {
    font-size: 5.5vw;
    line-height: 1.15;
    margin-bottom: 1.5vh;
  }

  .blog-hero-content p {
    font-size: 1.8vw;
    line-height: 1.5;
    max-width: 55%;
  }
}
