/* ProductPageOffGrid.css */

.productpageoffgrid-section {
  width: 100%;
  background: #f6f8fa;
  padding: 2vw 0;
}

.productpageoffgrid-container {
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.productpageoffgrid-container h2 {
  font-family: "Figtree";
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  color: #001233;
  font-style: normal;
}

.productpageoffgrid-container p {
  font-family: "Figtree";
  font-size: 1.56vw;
  line-height: 1.7;
  max-width: 60vw;
  color: #000;
  font-style: normal;
  font-weight: 400;
}

/* ========================= */
/* MOBILE RESPONSIVE */
/* 320px to 480px */
/* ========================= */

@media screen and (min-width: 320px) and (max-width: 480px) {

  /* ========================= */
  /* SECTION */
  /* ========================= */

  .productpageoffgrid-section {
    padding: 10vw 0;
  }

  /* ========================= */
  /* CONTAINER */
  /* ========================= */

  .productpageoffgrid-container {
    width: 90%;
  }

  /* ========================= */
  /* HEADING */
  /* ========================= */

  .productpageoffgrid-container h2 {
    font-size: 8vw;
    line-height: 1.2;

    margin-bottom: 4vw;
  }

  /* ========================= */
  /* PARAGRAPH */
  /* ========================= */

  .productpageoffgrid-container p {
    font-size: 4.2vw;
    line-height: 1.7;

    max-width: 100%;

    margin: 0;
  }

}