/* Navbar.css */

.navbar {
  width: 100%;
  background: #fff;
  padding: 1.5vh 9vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.navbar-logo-image {
  width: 11vw;
  height: auto;
  object-fit: contain;
}

/* NAV LINKS */

.navbar-nav-links {
  display: flex;
  align-items: center;
  gap: 2.5vw;
  list-style: none;
}

.navbar-nav-links li {
  position: relative;
}

.navbar-nav-item {
  text-decoration: none;
  transition: 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #000;
  font-family: "Figtree";
  font-size: 1.1vw;
  font-weight: 500;
  cursor: pointer;
}

/* ACTIVE */

.active-link {
  color: #302e99;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 90%;
  height: 2px;
  background: #6f78ff;
  border-radius: 50px;
}

/* DROPDOWN */

.navbar-services-dropdown {
  position: relative;
}

.navbar-services-link {
  display: flex;
  align-items: center;
}

.navbar-dropdown-icon {
  transition: 0.3s ease;
}

.rotate-icon {
  transform: rotate(180deg);
}

.navbar-dropdown-menu {
  position: absolute;
  top: 2vw;
  left: 0;
  min-width: 16vw;
  background: #fff;
  border-radius: 12px;
  padding: 0.5vw 0;
  list-style: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: 0.3s ease;
}

.navbar-services-dropdown:hover .navbar-dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar-dropdown-item {
  display: block;
  padding: 1vw 1.5vw;
  text-decoration: none;
  color: #111;
  font-size: 1vw;
  transition: 0.3s ease;
}

.navbar-dropdown-item:hover {
  background: #f5f7ff;
  color: #302e99;
  padding-left: 2vw;
}

/* BUTTON */

.navbar-contact-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #15b2ff, #4867ff);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;

  padding: 1.5vh 1vw;

  transition: 0.3s ease;

  color: #fff;
  font-family: Figtree;
  font-size: 1vw;
  font-weight: 500;
}

.navbar-contact-btn svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  transform: rotate(-45deg);
  transition: 0.3s ease;
}

.navbar-contact-btn:hover {
  background: #fff;
  color: #302e99;
  border: 1px solid #302e99;
}

.navbar-contact-btn:hover svg {
  transform: rotate(0deg);
  fill: #302e99;
}

/* HAMBURGER */

.navbar-hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #302e99;
}

/* MOBILE CONTACT */

.mobile-contact-btn {
  display: none;
}

.desktop-contact-btn {
  display: flex;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    padding: 2vh 5vw;
    /* border: 2px solid red; */
    height: 9vh;
  }

  .navbar-container {
    position: relative;
  }

  /* LOGO */

  .navbar-logo-image {
    width: 50vw;
  }

  /* HAMBURGER */

  .navbar-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    cursor: pointer;
    color: #302e99;
    z-index: 1200;
  }

  /* SIDE MENU */

  .navbar-nav-links {
    position: fixed;

    top: 0;
    left: -100%;

    width: 78%;
    height: 100vh;

    background: #fff;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 8vw 7vw 8vw;

    gap: 6vw;

    transition: all 0.4s ease;

    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.08);

    z-index: 1100;

    overflow-y: auto;
    margin-top: 15vw;
  }

  /* OPEN MENU */

  .navbar-mobile-active {
    left: 0;
  }

  .navbar-nav-item {
    font-size: 4.8vw;
    font-weight: 600;
  }

  .active-link::after {
    bottom: -2vw;
    height: 2px;
  }

  /* DROPDOWN */

  .navbar-services-dropdown {
    width: 100%;
  }

  .navbar-services-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-dropdown-icon {
    font-size: 5vw;
  }

  .navbar-dropdown-menu {
    position: static;

    width: 100%;

    background: #f8f9ff;

    border-radius: 12px;

    margin-top: 3vw;

    padding: 0;

    opacity: 1;
    visibility: visible;

    transform: none;

    box-shadow: none;

    display: none;
  }

  .show-dropdown {
    display: block;
  }

  .navbar-dropdown-item {
    font-size: 4vw;

    padding: 4vw 5vw;

    border-bottom: 1px solid #ececec;
  }

  .navbar-dropdown-item:last-child {
    border-bottom: none;
  }

  .navbar-dropdown-item:hover {
    padding-left: 5vw;
  }

  /* Desktop button hide */

  .desktop-contact-btn {
    display: none !important;
  }
  /* =========================
   MOBILE CONTACT BUTTON
========================= */

  .desktop-contact-btn {
    display: none !important;
  }

  .mobile-contact-btn {
    display: flex !important;

    align-items: center;
    justify-content: center;
    gap: 2vw;

    width: 60%;

    padding: 4vw 5vw;

    border-radius: 8px;
    border: 1px solid transparent;

    background: linear-gradient(90deg, #15b2ff, #4867ff);

    cursor: pointer;

    transition: 0.3s ease;

    color: #fff;
    font-family: "Figtree";
    font-size: 4.2vw;
    font-weight: 500;
    line-height: 20px;
  }

  /* SVG */

  .mobile-contact-btn svg {
    width: 5vw;
    height: 5vw;

    fill: #fff;

    transform: rotate(-45deg);

    transition: 0.3s ease;
  }

  /* SAME ANIMATION */

  .mobile-contact-btn:hover {
    background: #fff;
    color: #302e99;
    border: 1px solid #302e99;
  }

  .mobile-contact-btn:hover svg {
    transform: rotate(0deg);
    fill: #302e99;
  }

  /* OPTIONAL DARK OVERLAY */

  .navbar-mobile-active::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 22%;
    height: 100vh;
  }
}

/* ========================================= */
/* RESPONSIVE CSS (481px to 767px) */
/* ========================================= */

@media screen and (min-width: 481px) and (max-width: 767px) {
  .navbar {
    padding: 2vh 5vw;
    height: 10vh;
    border: 1px solid #000;
  }

  .navbar-container {
    position: relative;
  }

  /* LOGO */

  .navbar-logo-image {
    width: 23vw;
  }

  /* HAMBURGER */

  .navbar-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: #302e99;
    z-index: 1200;
  }

  /* SIDE MENU */

  .navbar-nav-links {
    position: fixed;

    top: 0;
    left: -100%;

    width: 65%;
    height: 100vh;

    background: #fff;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 7vw 6vw;

    gap: 4vw;

    transition: all 0.4s ease;

    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.08);

    z-index: 1100;

    overflow-y: auto;

    margin-top: 10vh;
  }

  .navbar-mobile-active {
    left: 0;
  }

  /* LINKS */

  .navbar-nav-item {
    font-size: 2.8vw;
    font-weight: 600;
  }

  .active-link::after {
    bottom: -1vw;
    height: 2px;
  }

  /* DROPDOWN */

  .navbar-services-dropdown {
    width: 100%;
  }

  .navbar-services-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-dropdown-icon {
    font-size: 3vw;
  }

  .navbar-dropdown-menu {
    position: static;

    width: 100%;

    background: #f8f9ff;

    border-radius: 12px;

    margin-top: 2vw;

    padding: 0;

    opacity: 1;
    visibility: visible;

    transform: none;

    box-shadow: none;

    display: none;
  }

  .show-dropdown {
    display: block;
  }

  .navbar-dropdown-item {
    font-size: 2.5vw;

    padding: 2.5vw 3vw;

    border-bottom: 1px solid #ececec;
  }

  .navbar-dropdown-item:last-child {
    border-bottom: none;
  }

  .navbar-dropdown-item:hover {
    padding-left: 4vw;
  }

  /* DESKTOP BUTTON */

  .desktop-contact-btn {
    display: none !important;
  }

  /* MOBILE BUTTON */

  .mobile-contact-btn {
    display: flex !important;

    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    width: 55%;

    padding: 2.5vw 3vw;

    border-radius: 8px;
    border: 1px solid transparent;

    background: linear-gradient(90deg, #15b2ff, #4867ff);

    cursor: pointer;

    transition: 0.3s ease;

    color: #fff;
    font-family: "Figtree";
    font-size: 2.6vw;
    font-weight: 500;
  }

  .mobile-contact-btn svg {
    width: 3vw;
    height: 3vw;

    fill: #fff;

    transform: rotate(-45deg);

    transition: 0.3s ease;
  }

  .mobile-contact-btn:hover {
    background: #fff;
    color: #302e99;
    border: 1px solid #302e99;
  }

  .mobile-contact-btn:hover svg {
    transform: rotate(0deg);
    fill: #302e99;
  }

  /* OVERLAY */

  .navbar-mobile-active::before {
    content: "";

    position: fixed;

    top: 0;
    right: 0;

    width: 35%;
    height: 100vh;
  }
}
/* ========================================= */
/* RESPONSIVE CSS (768px to 1024px) */
/* ========================================= */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 2vh 4vw;
    border: 1px solid #000;
    height: 10vh;
  }

  .navbar-container {
    position: relative;
  }

  /* LOGO */

  .navbar-logo-image {
    width: 20vw;
  }

  /* HAMBURGER */

  .navbar-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: #302e99;
    z-index: 1200;
    cursor: pointer;
  }

  /* SIDE MENU */

  .navbar-nav-links {
    position: fixed;

    top: 0;
    left: -100%;

    width: 50%;
    height: 100vh;

    background: #fff;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 6vw 5vw;

    gap: 3vw;

    transition: all 0.4s ease;

    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.08);

    z-index: 1100;

    overflow-y: auto;

    margin-top: 8vh;
  }

  /* OPEN MENU */

  .navbar-mobile-active {
    left: 0;
  }

  /* NAV LINKS */

  .navbar-nav-item {
    font-size: 2vw;
    font-weight: 600;
    gap: 0.5vw;
  }

  .active-link::after {
    bottom: -0.8vw;
    width: 100%;
  }

  /* DROPDOWN */

  .navbar-services-dropdown {
    width: 100%;
  }

  .navbar-services-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-dropdown-icon {
    font-size: 2vw;
  }

  .navbar-dropdown-menu {
    position: static;

    width: 100%;

    background: #f8f9ff;

    border-radius: 12px;

    margin-top: 1.5vw;

    padding: 0;

    opacity: 1;
    visibility: visible;

    transform: none;

    box-shadow: none;

    display: none;
  }

  .show-dropdown {
    display: block;
  }

  .navbar-dropdown-item {
    font-size: 1.8vw;

    padding: 1.8vw 2vw;

    border-bottom: 1px solid #ececec;
  }

  .navbar-dropdown-item:last-child {
    border-bottom: none;
  }

  .navbar-dropdown-item:hover {
    padding-left: 3vw;
  }

  /* DESKTOP BUTTON */

  .desktop-contact-btn {
    display: none !important;
  }

  /* MOBILE CONTACT BUTTON */

  .mobile-contact-btn {
    display: flex !important;

    align-items: center;
    justify-content: center;
    gap: 1vw;

    width: 50%;

    padding: 1.8vw 2vw;

    border-radius: 8px;
    border: 1px solid transparent;

    background: linear-gradient(90deg, #15b2ff, #4867ff);

    cursor: pointer;

    transition: 0.3s ease;

    color: #fff;
    font-family: "Figtree";
    font-size: 1.8vw;
    font-weight: 500;
  }

  .mobile-contact-btn svg {
    width: 2vw;
    height: 2vw;

    fill: #fff;

    transform: rotate(-45deg);

    transition: 0.3s ease;
  }

  .mobile-contact-btn:hover {
    background: #fff;
    color: #302e99;
    border: 1px solid #302e99;
  }

  .mobile-contact-btn:hover svg {
    transform: rotate(0deg);
    fill: #302e99;
  }

  /* OVERLAY */

  .navbar-mobile-active::before {
    content: "";

    position: fixed;

    top: 0;
    right: 0;

    width: 50%;
    height: 100vh;
  }
}