
.aboutsolar-section {
background: #F0F0F0;
   padding: 12vh 8vw;
}

.aboutsolar-container {
  width: 90%;
  max-width: 1050px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3vw;
}

/* LEFT SIDE */

.aboutsolar-left {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.aboutsolar-card {
  border-radius: 16px;
  overflow: hidden;
border-radius: 16px;
border: 1px solid #EEE;
background: #F6F8FA;
box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.10);}
.image-card{
height: 30vh;

}
.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.stats-card,
.award-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4vh 0vw;
  gap: 0.5vw;
}
.stats-card{
height: 12vh !important;
align-self: end;
}
.award-card{
height: 18vh;

}
.stats-card h2,
.award-card h2 {
 color: #302E99;
font-family: Figtree;
font-size: 3vw;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 116.667% */
  margin-bottom: 0px;
}

.stats-card p,
.award-card p {
color: #676B74;
text-align: center;
font-family: Figtree;
font-size: 1.2vw;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

.stars {
  color: #4867FF;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 2vh;
  letter-spacing: 3px;
}

.aboutsolar-right {
  width: 52%;
  padding-top: 3vh;
}

.about-btn {
border-radius: 31px;
border: 1px solid #EEE;
background: #FFF; 
color: #15B2FF;
  padding: 10px 22px;
  border-radius: 30px;
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 2px;
}

.aboutsolar-right h1 {
  color: #302E99;
font-family: Figtree;
font-size: 2.8vw;
font-style: normal;
font-weight: 700;
line-height: 56px;
  margin-bottom: 5px;
}

.about-desc {
color: #676B74;
font-family: Figtree;
font-size: 1.2vw;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
  margin-bottom: 10px;
}

.about-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0vh 2vw;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.feature-item span {
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #4f5cff, #00a8ff);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.feature-item p {
 color: #676B74;
font-family: Figtree;
font-size: 1vw;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

/* ==========================================
   RESPONSIVE CSS (320px to 480px)
========================================== */

@media screen and (min-width: 320px) and (max-width: 480px) {

  .aboutsolar-section {
    padding: 25px 20px;
  }

  .aboutsolar-container {
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }

  /* LEFT SIDE */

  .aboutsolar-left {
    width: 100%;
    gap: 14px;
  }

  .aboutsolar-card {
    border-radius: 14px;
  }

  .image-card {
    height: 160px;
  }

  .image-card img {
    border-radius: 14px;
  }

  .stats-card,
  .award-card {
    padding: 5px 5px;
    gap: 10px;
  }

  .stats-card {
    height: auto;
  }

  .award-card {
    height: auto;
  }

  .stats-card h2,
  .award-card h2 {
    font-size: 28px;
    line-height: 10px;
  }

  .stats-card p,
  .award-card p {
    font-size: 13px;
    line-height: 10px;
  }

  .stars {
    font-size: 18px;
    margin-top: 5px;
    letter-spacing: 2px;
  }

  /* RIGHT SIDE */

  .aboutsolar-right {
    width: 100%;
    padding-top: 0;
  }

  .about-btn {
    font-size: 13px;
    padding: 10px 18px;
    margin-bottom: 0px;
  }

  .aboutsolar-right h1 {
    font-size: 33px;
    line-height: 42px;
    margin-bottom: 6px;
  }

  .about-desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  /* FEATURES */

  .about-features {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .feature-item {
    gap: 10px;
    align-items: center;
  }

  .feature-item span {
    width: 22px;
    height: 22px;
    font-size: 12px;
    margin-top: 0px;
  }


  .feature-item p {
    font-size: 14px;
    line-height: 2px;
  }
}

/* ==========================================
   RESPONSIVE CSS (481px to 767px)
========================================== */

@media screen and (min-width: 481px) and (max-width: 767px) {

  .aboutsolar-section {
    padding: 20px 20px;
  }

  .aboutsolar-container {
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  /* LEFT SIDE */

  .aboutsolar-left {
    width: 100%;
    gap: 18px;
  }

  .aboutsolar-card {
    border-radius: 16px;
  }

  .image-card {
    height: 220px;
  }

  .image-card img {
    border-radius: 16px;
  }

  .stats-card,
  .award-card {
    padding: 15px 10px;
    gap: 5px;
  }

  .stats-card {
    height: auto !important;
  }

  .award-card {
    height: auto !important;
  }

  .stats-card h2,
  .award-card h2 {
    font-size: 40px;
    line-height: 10px;
  }

  .stats-card p,
  .award-card p {
    font-size: 15px;
    line-height: 20px;
  }

  .stars {
    font-size: 22px;
    margin-top: 0px;
    letter-spacing: 3px;
  }

  /* RIGHT SIDE */

  .aboutsolar-right {
    width: 100%;
    padding-top: 0;
  }

  .about-btn {
    font-size: 15px;
    padding: 12px 22px;
    margin-bottom: 0px;
  }

  .aboutsolar-right h1 {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 10px;
  }

  .about-desc {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .about-features {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 20px;
  }

  .feature-item {
    gap: 12px;
    align-items: center;
  }

  .feature-item span {
    width: 24px;
    height: 24px;
    font-size: 13px;
  }

  .feature-item p {
    font-size: 15px;
    line-height: 22px;
  }
}