.consultation-section {
background: #302E99;
  display: flex;
  justify-content: center;
  align-items: center;
padding: 8vh 10vw;
  overflow: hidden;
  position: relative;
}

/* Optional corner design */
.consultation-section::before,
.consultation-section::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border: 1px solid rgba(255,255,255,0.12);
  border-radius: 50%;
}

.consultation-section::before {
  top: -120px;
  left: -120px;
}

.consultation-section::after {
  bottom: -120px;
  right: -120px;
}

.consultation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* LEFT SIDE */
.consultation-left {
  flex: 1;
  color: white;
}

.consultation-left h1 {
color: #FFF;
font-family: Figtree;
font-size: 3.8vw;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
  margin-bottom: 3px;
}

.consultation-left p {
color: #FFF;
font-family: Figtree;
font-size: 3vw;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 116.667% */
}

/* FORM BOX */
.consultation-form-box {
  width: 28vw;
  border-radius: 15px;
border-top: 1px solid #FFF;
background: #FFF;
box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.10);
  padding: 4vh 2vw;
 
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
 color: #302E99;
font-size: 1.4vw;
font-style: normal;
font-weight: 500;
line-height: normal;
  margin-bottom: 8px;
}

.form-group input {
  width: 90%;
  height: 48px;
  border-radius: 10px;
background: #FFF;
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.02) inset;
  padding: 0 16px;
  outline: none;
  font-size: 15px;
  background: white;
  color: #333;
}

.form-group input::placeholder {
  color: #B0B0B0;
}

.submit-btn {
  width: 100%;
  height: 50px;
  border: none;
 border-radius: 10px;
background: #302E99;
  color: #FFF;
font-family: Figtree;
font-size: 1.4vw;
font-style: normal;
font-weight: 500;
line-height: normal;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.submit-btn:hover {
  background: #24228a;
  transform: translateY(-2px);
}